<input type="file" id={{this.randomId}} class="x-file--input" name={{@name}}
  disabled={{@disabled}} multiple={{@multiple}} tabindex={{this.tabindex}} accept={{@accept}}>
<label for="{{this.randomId}}">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <Alt />
  {{/if}}
</label>
