<div class="demo-wrapper">
  <h2 id="title">Basic Emberx-File-Input</h2>

  <div class="upload-box">
    <XFileInput class="custom-class" action="uploadAPhoto" id="spec-file-input">
      <h3>Shall you upload?</h3>
    </XFileInput>
  </div>

  <div>
    Non block:
    <XFileInput class="custom-class"
      action="uploadAPhoto" id="spec-file-input-blockless" />
  </div>
</div>

<div class="demo-wrapper">
  <XFileInput action="uploadAPhoto" id="spec-file-input-two">
    {{#if this.photoName}}
      <div style={{this.photoPreview}} class="demo-photo-preview"></div>
      <div class="photo-name">{{this.photoName}}</div>
    {{else}}
      <div class="demo-camera-icon"><i class="fa fa-camera-retro"></i></div>
    {{/if}}
  </XFileInput>
</div>

<div class="demo-wrapper">
  <XFileInput 
    action="uploadManyFiles" 
    class="custom-class"
    id="spec-file-input-three" 
    multiple={{true}} 
    alt="Upload multiple" 
  />

  {{#each this.multiFiles as |file|}}
    <p class="file-name">
      {{file-icon file.type}}
      {{file.name}}
    </p>
  {{/each}}
</div>

<div class="demo-wrapper">
  <XFileInput 
    alt="Upload Reset" 
    action="doSomething"
    id="spec-file-input-reset" 
    class="custom-class" 
  />
</div>
